@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="row mt-2">
    <div class="col-lg-6 col-12">
        <button class="btn btn-success">Click Me</button>
    </div>
    <div class="col-lg-6 col-12 border-1 bg-secondary p-2">
        <Span>Click Me</span>
    </div>

</div>

@code{

    

    void ClickedButton(){

    }
}